body{
    font-family: "Inter"
}

/*navbar styles*/
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    color: black;
    text-decoration: none;
}
.logo{
    margin: 0;
}
.cart-pic-count{
    position: relative;
}
.cart-pic{
    width: 20px;
    margin-right: 5px;
}
.cart-number{
    position: absolute;
    top: -6px;
    right: -2px;
    margin: 0;
    background-color: red;
    padding: 2px 4px;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}

/*Cart and Order Summary Styles*/
/*CART*/
.product-image{
    width: 50px;
}
.delete-img{
    width: 20px;
}
.cart-container{
    margin-top: 2em;
    border: 1px solid #e5e7eb;
    border-radius: 1em;
    padding: 1em 1em 0 1em;
}
.cart-product {
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.cart-product h4,p{
    margin: 0;
}
.cart-product .image-name-category{
    display:flex;
}
.product-quantity{
    display: flex;
}