*{
    box-sizing: border-box;
}
body{
    font-family: "Inter";
    position: relative;
    margin-top: 4em;
    padding: 0 3em;
}
.hidden{
    display: none;
}

/*navbar styles*/
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 3em;
    background-color: white;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
}
nav a{
    color: black;
    text-decoration: none;
}
.logo{
    margin: 0;
}
.cart-pic-count{
    position: relative;
}
.cart-pic{
    width: 20px;
    margin-right: 5px;
}
.cart-number{
    position: absolute;
    top: -6px;
    right: -2px;
    margin: 0;
    background-color: red;
    padding: 2px 4px;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}

/*Global container styles*/
.cart-order-container{
    display: grid;
    grid-template-columns: 70% 1fr;
    column-gap: 1em;
}

/*Cart and Order Summary Styles*/
/*CART*/
.product-image{
    width: 50px;
}
.delete-img{
    width: 20px;
}
.cart-container{
    margin-top: 2em;
    border: 1px solid #e5e7eb;
    border-radius: 1em;
    padding: 1em 1em 0 1em;
}
.cart-product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;
    padding: 1em;
}
.cart-product h4,p{
    margin: 0;
}
.cart-product .image-name-category{
    display:flex;
}
.product-quantity{
    display: flex;
}

/*Order Summary Styles*/
.cart-ordersummary{
     border: 1px solid #e5e7eb;
    padding: 1em;
    border-radius: 1em;
    align-self: start;
}
.summary-container footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subtotal-shipping footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subtotal-shipping h3{
    margin: 0;
    font-size: 16px;
}
.total-Section h2{
    margin: 0;
    font-size: 16px;
}
.total-Section{
    display: flex;
    justify-content: space-between;
}
.checkout-link{
    background-color: #2563eb;
    border: 1px solid transparent;
    padding: 8px 0;
    border-radius: 0.5em;
    margin-top: 1em;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
/*Empty state Container Styles*/
.empty-state{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-state-image{
    width: 60px;
}
.text-section{
    text-align: center;
}
.text-section p{
    max-width: 350px;
    margin-bottom: 2em;
}
.ctn-shopping-btn{
    padding: 1em;
    background-color: #2563eb;
    border: 1px solid transparent;
    border-radius: 1em;
    color: white;
    margin-top: 1em;
    text-decoration: none;
}
@media (max-width:1028px) {
    .cart-order-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2em;
    }
}
@media (max-width: 476px) {
    body{
        padding: 0 1em;
    }
    nav{
        padding: 1em 1em;
    }
}
@media (max-width: 436px) {
    .cart-container{
        padding: 0.5em 0.5em 0 0.5em;
    }
    .cart-product{
        padding: 10px;
    }
}
@media(max-width: 388px){
    .cart-product h4,p{
        font-size: 14px;
    }
}
@media(max-width: 373px){
    body{
        padding: 0 0.5em;
    }
}