body{
    font-family: "Inter";
    background-color: #f9fafb;
    position:relative;
    margin-top: 5em;
}
.hidden{
    display: none;
}

/*navbar styles*/
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding: 1em 5em;
    z-index: 100;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
}
nav a{
    color: black;
    text-decoration: none;
}
.logo{
    margin: 0;
}
.cart-pic-count{
    position: relative;
}
.cart-pic{
    width: 20px;
    margin-right: 5px;
}
.cart-number{
    position: absolute;
    top: -6px;
    right: -2px;
    margin: 0;
    background-color: red;
    padding: 2px 4px;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}
/*Filter Category Styles*/
.filter-category{
    padding: 0 5em;
}
.filter-category footer{
    display: flex;
    margin-bottom: 2em;
    display: hidden;
}
.filter-category footer input{
    padding: 5px;
    width: 25%;
    border-radius: 0.5em;
    border: 1px solid #e5e7eb
}
.filter-category .filters{
    margin-left: 10px;
}
.filter-category button{
    background-color: white;
    padding: 10px;
    border-radius: 0.5em;
    border: 1px solid #e5e7eb;
}


/*product container styles*/
.products-container{
    width: 100%;
    display: flex;
    gap: 1em 2em;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    border-radius: 1em;
    width: 250px;
    margin-bottom: 2em;
    border: 1px solid #e5e7eb;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
}
.product:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.product:hover img{
     transform: scale(1.2)
}
.image-category{
    width: 100%;
    height: 200px;
    overflow: hidden; 
    position: relative;
}
.category{
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    top: 0;
    left: 5px;
    border-radius: 5px;
    color: #374151;
    font-weight: 500;
    font-size: 11px;
}
.product img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    transition: transform 0.5s ease;
}
.product img:hover{
    transform: scale(1.2); 
}
.name-price-btn{
    padding: 0 1em;
}
.product h5{
    color: black;
    margin: 0.5em 0 0 0;
}
.product .product-price{
    margin: 0.5em 0 0 0;;
    color: #2563eb;
    font-size: 14px
}
.cartadd-btn{
    background-color: #2563eb;
    color: white;
    padding: 0.9em 1em;
    border-radius: 1em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid transparent;
    transition: background-color 0.5s ease;
}
.cartadd-btn:hover {
    background-color: #1d4ed8;
}